/* Normalize.css applied with Bower */

* { position: relative; transition: all .1s ease-out; }
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

.hidden {
  display: none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a:visited {
  color: #00E;
} 

h1 a:link, h1 a:visited { color: #222;}

#header {
  height: 6vh;
  border-bottom: 1px solid #e6e6e6;
  background: #fff;
  box-shadow: 0px 0px 5px #f9f9f9;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999;
  overflow: hidden;
/*  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;*/
}

#header .hamburger {
/*  line-height: 11vh;
  font-size: 16px;
  text-align: center;
  position: absolute;
  top: 0;
  left:0;
  right:0;*/
/*  flex: 0 1 300px;
  padding: 0 0 0 15px;
  height: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  align-content: center;
  justify-content: space-around;*/
}
.hamburger a { display: block;}

.breadcrumbs {
  padding-left: 2px;
  height: 6vh;
  line-height: 6vh; 
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: left;
}
.home #header h1 {
  display: none;
  line-height: 6vh;
  height: 6vh;
}
.home .breadcrumbs {
  display: none;
}
.breadcrumb-item {
  display: inline-block;
  float: left;
  font-size: 14px;
  line-height: 14px;
}
.breadcrumb-item a {
  display: inline-block;
  padding: 0px 13px;
  margin-right: 2px;
  background: #6F6F6F;
  text-decoration: none;
  color: #fff;
  height: 40px;
  line-height: 40px;
}


.btn {
  border: 1px solid #BBB;
  border-radius: 3px;
  height: 80%;
  max-width: 90px;
  text-decoration: none;
  color: #000;
  padding: 0 20px;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
btn:hover {
  background: #EEE;
}
.inline-svg {
  width: 50px;
  height: 6vh;
  position: fixed;
  top: 0;
  right: 0px;
  z-index: 99999999;
}
#header h1 {
  transition: all .3s ease-out;
  float: left;
  padding: 0 20px;
  margin: 0;
  height: 6vh;
  line-height: 6vh;
/*  position: absolute;
  left: 2vw;
  padding: 0;*/
/*
  flex: 1 2 200px;  
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
*/
}
#header .search-box {
  right: 66px;
  top: 50%;
  margin-top: -15px; 
  position: absolute;
/*  flex: 0 1 200px;*/
/*  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;*/
}
.search-box input {
  width: 90px;
  height: 28px;
}

h1 {
  letter-spacing: -1px;
  display: none;
  /*display: inline-block;*/
  padding: 0 20px;
}

.company-logo {
  display: none;
  font-size: 3.5vh;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.container {
  margin: 6vh auto 0 auto;
  font-size: 16px;
  font-weight: 200;
}

.todo {
  color:#BBB;
  font-size: 11px;
  display: inline-block;
  padding: 0 5px;
}


.category-list,
.sub-category-list {
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}
.category-list {
  height: 94vh;
  flex-direction: column;
}
.category-title {
  text-align: center;
  flex: 1 0 50px;
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.category-title h2 {
  font-size: .7em; 
  flex: 1 1 100%;
}
.category-title h2:hover {
  cursor: pointer;
}
.category-alerts {
  font-size: 10px;
  line-height: 1em;
/*  flex: 1 1 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;*/
  position: absolute;
  top: 50%;
  margin-top: -13px;
  right: 10px;
}
.category-alert {
  background: #DDD;
  text-align: center;
  color: #fff;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 50%;
}
.category-alert-low { color: #666; background: #f6f6f6; }
.category-alert-high { color: red; background: rgba(255, 0, 0, 0.1);  }

.sub-category-list {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35); /* why is this not showing up? */
  border-bottom: 4px solid #6F6F6F;
  height: 0px;
  transition: all .4s ease-out;
  visibility:hidden;
  opacity:0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 auto 400px;
}

.activePage-my-events .category-list-my-events .category-alerts,
.activePage-maintenance .category-list-maintenance .category-alerts,
.activePage-operations .category-list-operations .category-alerts,
.activePage-safety .category-list-safety .category-alerts,
.activePage-hr .category-list-hr .category-alerts {
  top: 10px;
  margin-top: 0;
}

.activePage-home .category-list-item {
  flex: 1 1 22vh;
}

.activePage-my-events .category-list-my-events,
.activePage-maintenance .category-list-maintenance,
.activePage-operations .category-list-operations,
.activePage-safety .category-list-safety,
.activePage-hr .category-list-hr {
  flex: 1 1 60vh;
}

.activePage-my-events .category-list-my-events .sub-category-list,
.activePage-maintenance .category-list-maintenance .sub-category-list,
.activePage-operations .category-list-operations .sub-category-list,
.activePage-safety .category-list-safety .sub-category-list,
.activePage-hr .category-list-hr .sub-category-list {
  flex: 1 0 50px;
  visibility:visible;
  opacity:1;
}

.activePage-my-events .category-list-my-events .events-inline,
.activePage-maintenance .category-list-maintenance .events-inline,
.activePage-operations .category-list-operations .events-inline,
.activePage-safety .category-list-safety .events-inline,
.activePage-hr .category-list-hr .events-inline {
  display: block;
}
.category-list-item,
.sub-category-list-item  {
  font-size: 6vmin;
  font-weight: bold;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: center;
  justify-content: space-around;
}

.category-list-item {
  flex: 1 0;
  border: 1px solid #f6f6f6; 
  overflow: hidden;
}

.sub-category-list-item {
  flex: 1 1 auto;
  font-size:  16px;
  line-height: 1em;
  font-weight: normal;
}

.sub-category-list-item.sub-category-active a {
  color: #fff;
  background: #6f6f6f;
  
}

.category-list-item > a,
.sub-category-list-item > a {
  width: 100%;
  height: 100%;
  text-align: center;
  display:flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #222;
  text-decoration: none;
}
.sub-category-list-item > a {
  height: 50px;
  color: #666;
}
.category-list-item:hover {
  /*background: rgba(240, 240, 249, 0.19);
  cursor: pointer;*/
}

/*.sub-category-list-item a:hover {
  color: #00D;
}*/

.events-inline {
  display: none;
  flex: 1 1 100vh;
  font-weight: normal;
  background: #f7f7f7;
  font-size: 16px;
  overflow: auto;
}

.event-list {
  line-height: 2em;
}

.event-item-column {
  display: inline-block;
  padding: 3px 5px;
  min-width: 30px;
}
.event-item-actions {
  flex: 1 1 120px;
  opacity: 0;
  /*background: rgba(0, 128, 0, 0.15);*/
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: center;
  justify-content: space-around;
}
.event-item-actions img { margin: auto;}
.event-list-item:hover {
  background: #fff;
}
.event-list-item:hover .event-item-actions {
  opacity: 1;
}
.event-item-ok,
.event-item-discuss {
  background: #BBB;
  flex: 1 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.event-item-ok:hover,
.event-item-discuss:hover {
  background: #333;
  opacity: 1;
  cursor: pointer;
}

.event-item-column a {
  color: #333;
  text-decoration: none;
}
.event-item-column a:hover {
  text-decoration: underline;
}


.event-list-item {
  padding-left: 4vw;
  line-height: 1em;
  min-height: 50px;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: center;
  justify-content: space-around;
}
.event-title a {
  display: inline-block;
  line-height: 1.2em;
}
/*.event-list-item:nth-child(even) {
  background: rgba(194, 157, 132, 0.02);
}*/


/*.event-list-item.item-priority-low {
  background: #f6f6f6;
}
.event-list-item.item-priority-high {
  background: rgba(255, 0, 0, 0.1);
}*/
.event-item-priority-indicator {
  display: inline-block;
  display: none;
  position: absolute;
  margin-right: 10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  top: 50%;
  margin-top: -3px;
  left: -10px;
}
.item-priority-low .event-item-priority-indicator { background: transparent; }
.item-priority-high .event-item-priority-indicator { background: #F00; }


/*.event-list-item:hover a {
  color: #EEE;
}*/
.event-item-column {
  flex: 2 1 25%;
  margin: auto;
}
.event-time {
  flex: 0 1 70px;
  margin: auto;
}
.item-priority-low .event-time { color: #333; }
.item-priority-high .event-time,
.item-priority-high .event-item-column a { color: #F00; }

.event-list-date-row {
  background: #A9A9A9;
  color: #fff;
  text-align: center;
}



